{% extends "Admin/layout.njk" %}

{% block content %}
  <div class="main">
      <div class="header-title">
      <h1>Gerenciar Chefs</h1>
      <a href="chefs/create" class="button">Novo Chef</a>
    </div>
  </div>
{% endblock content %}