<div class="chef-avatar">
  <div class="img-container">
    <img id="img-preview" {% if file %} src="{{file.src}}" {% else %} src="/assets/no-preview.png" {% endif %}
      alt="preview">
  </div>
  <div class="avatar-button">
    <input type="file" name="avatar" id="avatar" accept="image/png, image/jpeg">
    <div class="button"><span>Enviar Foto</span></div>
  </div>
</div>


<div class="item">
  <label for="name">Nome</label>
  <input type="text" name="name" placeholder="" value="{{chef.name}}">
</div>

<div class="item">
  <label for="email">E-mail</label>
  <input type="text" name="email" placeholder="" value="{{chef.email}}">
</div>

<div class="item">
  <label for="email">Senha</label>
  <input type="text" name="password" placeholder="">
</div>


<div class="item">
  <label for="description">Descrição</label>
  <textarea name="description" cols="30" rows="10">{{chef.description}}</textarea>
</div>