<div class="item">
  <input type="file" name="avatar" placeholder="avatar"  accept="image/png, image/jpeg">
</div>

<div class="item">
  <label for="name">Nome</label>
  <input type="text" name="name" placeholder="" value="{{chef.name}}">
</div>

<div class="item">
  <label for="description">Descrição</label>
  <textarea name="description" cols="30" rows="10">{{chef.description}}</textarea>
</div>