<div class="item">
  <label for="image">Imagem da receita</label>
  <input type="URL" name="image" placeholder="https://">
</div>

<div class="item">
  <label for="title">Nome de apresentação da Receita</label>
  <input type="text" name="title" placeholder="">
</div>

<div class="item">
  <div id="ingredients">
    <label for="image_recipe">Ingredientes</label>
    <div class="ingredient">
      <input type="text" name="ingredients[]"/>
    </div>
  </div>
  <button class="add-ingredient btn-add">
    Adicionar novo ingrediente
  </button>
</div>

<div class="item">
  <div id="steps">
    <label for="image_recipe">Modo de Preparo</label>
    <div class="step">
      <input type="text" name="preparation[]"/>
    </div>
  </div>
  <button class="add-step btn-add">
    Adicionar novo passo
  </button>
</div>

<div class="item">
  <label for="image_recipe">Informações adicionais</label>
  <textarea name="information" cols="30" rows="10"></textarea>
</div>