@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
}
body,html {
  font-family: 'Roboto', sans-serif;
  color: #111111;
  background: white;
  min-height: 100%;
}

header {
  max-width: 940px;
  padding: 36px 0;
  margin: 0 auto;
  justify-items: center;
}

header img{
  float: left;
  margin-right: 120px;
}
main {
  max-width: 940px;
  margin: 0 auto;
  min-height: 100%;
}

.links {
  margin-top: 5px;
}
.links a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #111111;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.banner {
  height: 370px;
  background:  #FBDFDB;
  border-radius: 30px;
  margin-bottom: 50px;
}
.article {
  float: left;
  padding: 100px 0;
  margin: 20px 240px 0 60px; 
}
.article h1 {
  max-width: 350px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.article p {
  max-width: 320px;
 text-align: justify;
  opacity: 0.7;
  font-size:18px;
  color: #000000;
  line-height: 28px;
}
.banner img{
  margin-top: 7.5%;
  margin-left: 15px;
}
.list {
  margin-bottom: 50px;
  margin-top:20px;  
}

.list h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #111111;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: left;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card a {
  text-decoration: none;
}

.card {
  margin-bottom: 10px;
  cursor: pointer;
}
.card h2{
  font-size:18px;
  font-weight: 500;
  color: #111111;
  line-height: 28px;
}
.card p {
  font-size: 14px;
  color:#777777;
}
.card img{
  margin-bottom: 20px;
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

footer {
  margin-top: 50px;
  height: 62px;
  width: 100%;
  background: #eeeeee;
  text-align: center;
  position: relative;
  bottom: 0;
}
footer p {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #999999;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.about{
  margin-top: 20px;
}
.about h1{
  font-family: 'Roboto';
  font-size: 24px;
  color:#111111;
  margin-bottom: 20px;
}

.about p {
  font-family: 'Roboto';
  font-size: 18px;
  color: #444444;
  margin-bottom: 30px;
  line-height: 28px;
}
.about h2 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  color:#111111;
  margin-bottom: 20px;
}

.image-baner {
  margin-top: 20px;
  border-radius: 15px;
  height: 280px;
  width: 940px;
}
.title {
  margin: 50px auto;
  text-align: center;
}
.title h1 {
  font-family:'Roboto';
  
  font-size:36px;
}
.title p {
  font-size: 20px;
  color:#777777;
}
.details h2 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;
}
.details ul {
 margin-left: 15px;
 margin-bottom: 40px;
 transition: display 0.7s;
}
.detail-content.active ul, .detail-content.active p {
  display: none;
}
.details li {
  font-size: 18px;
  line-height: 28px;
  color:#444444;
}
.details p {
  font-size:18px;
  line-height: 28px;
  color:#444444;
}

.details h2 span {
  font-size:12px;
  color:#999999;
  cursor: pointer;
}