{% extends "Site/layout.njk" %}

{% block head %}
  <title>Foodfy - Home</title>
{% endblock head %}
{% block search %}
  <form action="/recipes" method="get">
    <input type="text" name="search" value="{{search}}" placeholder="Procure uma receita">
    <button type="submit">Pesquisar</button>
  </form>
{% endblock search %}
{% block content %}
  <main>
    <div class="banner">
      <div class="article">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
      </div>
      <img src="/assets/chef.png" alt="Chefe de cozinha" srcset="">
    </div>
    <div class="list">
      <h1>Mais acessadas</h1>
      <div class="cards">
        {% for recipe in recipes %}
          <div class="card" id="{{recipe.id}}">
            <a href="/recipes/{{recipe.id}}">
              <img src="{{recipe.image.src}}" alt="{{recipe.title}}" srcset="">
              <h2>{{recipe.title}}</h2>
              <p class="autor">por
                {{recipe.chef_name}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>

{% endblock content %}