{% extends "Site/layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock head %}
{% block search %}
<form action="/recipes" method="get">
  <input type="text" name="filter" value="{{filter}}" placeholder="Procure uma receita">
  <button type="submit">Pesquisar</button>
</form>
{% endblock search %}
{% block content %}
  <main>
    {% if search %}
   <h1>Buscando por: {{search}}</h1>
    {% endif %}
    <div class="list">
      <div class="cards">
        {% for recipe in recipes %}
          <div class="card" id="{{recipe.id}}">
            <a href="/recipes/{{recipe.id}}">
              <img src="{{recipe.image.src}}" alt="{{recipe.title}}" srcset="">
              <h2>{{recipe.title}}</h2>
              <p class="autor">por
                {{recipe.chef_name}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
       <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>
    </div>
  </main>
<script src="/scripts/site/pagination.js"></script>
{% endblock content %}