@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  --secondary-font-color: #777777;
  --font-color: #111111;
  --link-color: #6558C3;
  --danger-color: #DC4747;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}
body,html {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  background: white;
  min-height: 100%;
}
header {
  max-width: 100%;
  height:80px;
  background: #111111;
}
.nav {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.main {
  margin: 50px auto;
  max-width: 940px;
  min-height: 100%;
}

.header-title {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}
.header-title h1 {
  font-weight: bold;
  font-size: 24px;
  color: var(--font-color);
}

.header-title a {
  background: var(--link-color);
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 172px 1fr;
  gap: 20px;
}
.card img {
  width: 172px;
  height: 80px;
  border-radius: 8px;
}
.card h2 {
  font-size: 18px;
  color: var(--font-color);
}
.card p {
  color: var(--secondary-font-color);
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 28px;
}
.card a {
  font-size: 14px;
  font-weight: bold;
  color:var(--link-color);
  text-decoration: none;
}

.form-header {
  display: flex;
  flex:1;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form-header button{
  background: var(--link-color);
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  font-weight: bold;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}
.form-header a {
  background: var(--link-color);
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.item {
  margin-bottom: 30px;
}
.item input, .item textarea, .item select {
  box-sizing: border-box;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  font-family: 'Roboto';
  font-size: 14px;
}

.item label {
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
}
.btn-add {
  font-size: 12px;
  font-weight:bold;
  font-family: 'Roboto';
  text-align:right;
  color: var(--link-color);
  cursor: pointer;
  background: none;
  outline: none;
}

.form-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.image-banner {
  border-radius: 15px;
  width: 940px;
  height: 280px;
  margin-bottom: 46px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}
.title h1 {
font-size: 32px;
margin-bottom: 4px;
}
.title p {
font-size: 20px;
color: var(--secondary-font-color);
}
.details h2 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;
}
.details ul {
 margin-left: 15px;
 margin-bottom: 40px;
 transition: display 0.7s;
 list-style: none;
}
.details li {
  font-size: 18px;
  line-height: 28px;
  color:#444444;
}
.details ul > li {
  text-indent: -20px;
}
.details ul > li:before {
  content: '-   ';
  text-indent: -10px;
}
.details p {
  font-size:18px;
  line-height: 28px;
  color:#444444;
}

.form-header .delete-btn {
  background: var(--danger-color);
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  font-weight: bold;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

.header {
  margin-left: 50px;
  
}
.header a {
  margin-right: 30px;
  font-weight: bold;
  color:#999999;
  text-decoration: none;
  font-size: 15px;
  text-align: left;
}
.header a.active {
  color:#fff;
}

/*chefs*/
.cards-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 30px;
}

.card-chef {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 20px;
}
.card-chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.card-chef h2 {
 font-family: 'Roboto';
 font-weight: 400;
 color: var(--font-color);
 font-size: 18px; 
 margin-bottom: 10px;
}
.card-chef a {  
font-size: 14px;
font-weight: bold;
color:var(--link-color);
text-decoration: none;
}
.chef-info {
  margin-top:30px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}
.chef-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.chef-info h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--font-color);
  margin-bottom: 4px;
}
.chef-info p {
  font-weight: normal;
  font-size: 20px;
  color: var(--secondary-font-color);
  text-align:center;
  margin-bottom: 50px;
}