{% extends "Admin/layout.njk" %}

{% block content %}
  <div class="main">
    <form action="/admin/recipes" method="post">
      <div class="form-header">
        <h1>Criando Receita</h1>
        <button type="submit">Salvar receita</button>
      </div>
      {%include 'Admin/Recipes/fields.njk' %}
    </form>
  </div>
{% endblock content %}