<label class="label-images" for="images">Adicione até 5 imagens</label>
<div class="image-container">



  <div id="images-upload">
    <input onchange="PhotosUpload.handleFileInput(event)" type="file" name="images" id="images-input" multiple
      accept="image/*">
    <div>
      <span><i class="material-icons">add</i></span>
    </div>
  </div>

  <div id="images-preview">
    {% if images %}
    {% for image in images %}
    <div class="image" id="{{image.id}}">
      <img src="{{image.src}}" alt="{{recipe.name}}" />
      <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
    </div>
    {% endfor %}
    <input type="hidden" name="removed_files">
    {% endif %}
  </div>


</div>

<div class="item">
  <label for="chef">Chef</label>
  <select name="chef">
    {% for chef in chefs %}
    <option {% if chef.id == recipe.chef_id %} selected="selected" {% endif %} value="{{chef.id}}">
      {{chef.name}}
    </option>
    {% endfor %}
  </select>
</div>

<div class="item">
  <label for="title">Nome de apresentação da Receita</label>
  <input type="text" name="title" placeholder="" value="{{recipe.title}}">
</div>

<div class="item">
  <div id="ingredients">
    <label for="image_recipe">Ingredientes</label>
    {% for ingredient in recipe.ingredients %}
    <div class="ingredient">
      <input type="text" name="ingredients[]" value="{{ingredient}}" />
    </div>
    {% endfor %}
  </div>
  <button class="add-ingredient btn-add">
    Adicionar novo ingrediente
  </button>
</div>

<div class="item">
  <div id="steps">
    <label for="image_recipe">Modo de Preparo</label>
    {% for step in recipe.preparation %}
    <div class="step">
      <input type="text" name="preparation[]" value="{{step}}" />
    </div>
    {% endfor %}

  </div>
  <button class="add-step btn-add">
    Adicionar novo passo
  </button>
</div>

<div class="item">
  <label for="image_recipe">Informações adicionais</label>
  <textarea name="information" cols="30" rows="10">{{recipe.information}}</textarea>
</div>